<nav class="navbar">
  <div class="nav-left">
    <img src="/assets/images/logo.png" class="logo">
    <span>Zeyad Mahmoud</span>
  </div>

  <div class="nav-right">
    <a href="/">Home</a>
    <a href="/about/">About</a>

    <a href="https://www.linkedin.com/in/zeyad-mahmoud7/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://github.com/zeyad-mahmoud7" target="_blank">
      <i class="fab fa-github"></i>
    </a>

    <a href="https://medium.com/@zeyadmahmoud.zm7" target="_blank">
     <i class="fab fa-medium"></i>
    </a>
  </div>
</nav>
