---
---
@import "{{ site.theme }}";

// For the sidebar logo
header img {
  width: 120px;     // Adjust this number to make it smaller or larger
  height: auto;
  border-radius: 50%; // Optional: This makes your GitHub pic a circle
  display: block;
  margin: 0 auto 20px; // Centers it and adds space below
}
