---
---
@import "{{ site.theme }}";

// sidebar pic
header img {
  width: 120px;       // Shrinks the size
  border-radius: 50%; // Makes it a circle
  display: block;
  margin-left: auto;
  margin-right: auto;
}
